# Reading in historical data of each Forex currency being traded and sold within the global trade market

In [2]:
import pandas as pd

# Japanese Yen

In [3]:
USDollartoJapaneseYen = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Forex History Data 2/USDJPY-2000-2020-15m.csv")

In [4]:
USDollartoJapaneseYen1 = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Data 4/USDJPY-H1.csv")

In [5]:
USDollartoJapaneseYen.head()

             DATE_TIME    HIGH     LOW    OPEN   CLOSE
0  2000.01.03 00:00:00  102.15  102.12  102.14  102.14
1  2000.01.03 00:15:00  102.26  102.13  102.15  102.26
2  2000.01.03 00:30:00  102.17  102.14  102.15  102.15
3  2000.01.03 00:45:00  102.20  102.12  102.16  102.20
4  2000.01.03 01:00:00  102.22  102.12  102.20  102.12

In [6]:
USDollartoJapaneseYen1.head()

,Date,Time,OpenBid,HighBid,LowBid,CloseBid,OpenAsk,HighAsk,LowAsk,CloseAsk,Total Ticks
0,01/03/2010,22:00:00,93.075,93.090,92.879,92.920,93.093,93.101,92.895,92.940,674
1,01/03/2010,23:00:00,92.920,93.008,92.686,92.735,92.940,93.025,92.704,92.752,1751
2,01/04/2010,00:00:00,92.735,92.958,92.735,92.889,92.752,92.971,92.752,92.903,2987
3,01/04/2010,01:00:00,92.889,93.069,92.885,92.975,92.903,93.084,92.900,92.987,2248
4,01/04/2010,02:00:00,92.975,92.975,92.837,92.866,92.987,92.987,92.854,92.883,2551

# Chinese Kwan

In [7]:
USDollartoChineseKwan = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Rates/Currency Rate Exchange Data/RprtRateXchg_20210930_20210930.csv")
USDollartoChineseKwan.head()

,Record Date,Country,Currency,Country - Currency Description,Exchange Rate,Effective Date,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
0,2021-09-30,Afghanistan,Afghani,Afghanistan-Afghani,87.88,2021-09-30,1,2021,4,2021,3,9,30
1,2021-09-30,Albania,Lek,Albania-Lek,104.80,2021-09-30,2,2021,4,2021,3,9,30
2,2021-09-30,Algeria,Dinar,Algeria-Dinar,136.61,2021-09-30,3,2021,4,2021,3,9,30
3,2021-09-30,Angola,Kwanza,Angola-Kwanza,598.65,2021-09-30,4,2021,4,2021,3,9,30
4,2021-09-30,Antigua & Barbuda,E. Caribbean Dollar,Antigua & Barbuda-E. Caribbean Dollar,2.70,2021-09-30,5,2021,4,2021,3,9,30

In [8]:
USDollartoChineseKwan[USDollartoChineseKwan["Country"] == "China"]

,Record Date,Country,Currency,Country - Currency Description,Exchange Rate,Effective Date,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
37,2021-09-30,China,Renminbi,China-Renminbi,6.463,2021-09-30,38,2021,4,2021,3,9,30

In [27]:
USDollartoChineseKwan1 = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Rates/Currency Rate Exchange Data/Foreign Currency Exchanges.csv")

In [10]:
USDollartoChineseKwan.head()

,Record Date,Country,Currency,Country - Currency Description,Exchange Rate,Effective Date,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
0,2021-09-30,Afghanistan,Afghani,Afghanistan-Afghani,87.88,2021-09-30,1,2021,4,2021,3,9,30
1,2021-09-30,Albania,Lek,Albania-Lek,104.80,2021-09-30,2,2021,4,2021,3,9,30
2,2021-09-30,Algeria,Dinar,Algeria-Dinar,136.61,2021-09-30,3,2021,4,2021,3,9,30
3,2021-09-30,Angola,Kwanza,Angola-Kwanza,598.65,2021-09-30,4,2021,4,2021,3,9,30
4,2021-09-30,Antigua & Barbuda,E. Caribbean Dollar,Antigua & Barbuda-E. Caribbean Dollar,2.70,2021-09-30,5,2021,4,2021,3,9,30

In [38]:
USDollartoChineseKwan1 = USDollartoChineseKwan1.iloc[5:,:]
USDollartoChineseKwan1.head()

,Series Description,"AUSTRALIA -- SPOT EXCHANGE RATE, US$/AUSTRALIAN $ RECIPROCAL OF RXI_N.M.AL",SPOT EXCHANGE RATE - EURO AREA,"NEW ZEALAND -- SPOT EXCHANGE RATE, US$/NZ$ (RECIPROCAL OF RXI_N.M.NZ)","United Kingdom -- Spot Exchange Rate, US$/Pound Sterling Reciprocal of rxi_n.m.uk","BRAZIL -- SPOT EXCHANGE RATE, REAIS/US$","CANADA -- SPOT EXCHANGE RATE, CANADIAN $/US$","CHINA -- SPOT EXCHANGE RATE, YUAN/US$","DENMARK -- SPOT EXCHANGE RATE, KRONER/US$","HONG KONG -- SPOT EXCHANGE RATE, HK$/US$",...,"NORWAY -- SPOT EXCHANGE RATE, KRONER/US$","SOUTH AFRICA -- SPOT EXCHANGE RATE, RAND/US$","Singapore - SPOT EXCHANGE RATE, SINGAPORE $/US$","KOREA -- SPOT EXCHANGE RATE, WON/US$","SRI LANKA -- SPOT EXCHANGE RATE, RUPEES/US$","SWEDEN -- SPOT EXCHANGE RATE, KRONOR/US$","SWITZERLAND -- SPOT EXCHANGE RATE, FRANCS/US$","TAIWAN -- SPOT EXCHANGE RATE, NT$/US$",THAILAND -- SPOT EXCHANGE RATE -- THAILAND,"VENEZUELA -- SPOT EXCHANGE RATE, BOLIVARES/US$"
10,2012-04,1.0350,1.3160,0.8180,1.6000,1.8522,0.9928,6.3043,5.6529,7.7621,...,5.7521,7.8329,1.2510,1135.0238,128.4248,6.7359,0.9133,29.4433,30.8614,4.2893
11,2012-05,0.9980,1.2806,0.7748,1.5924,1.9810,1.0097,6.3242,5.8061,7.7640,...,5.9151,8.1506,1.2620,1156.6914,129.0045,7.0280,0.9383,29.4668,31.2850,4.2893
12,2012-06,0.9986,1.2541,0.7806,1.5556,2.0482,1.0280,6.3633,5.9266,7.7590,...,6.0146,8.3818,1.2784,1163.3886,131.8519,7.0746,0.9576,29.9052,31.6152,4.2893
13,2012-07,1.0300,1.2278,0.7986,1.5593,2.0296,1.0142,6.3717,6.0590,7.7561,...,6.0690,8.2535,1.2603,1142.2781,132.4848,6.9504,0.9783,29.9729,31.6181,4.2893
14,2012-08,1.0475,1.2406,0.8104,1.5722,2.0279,0.9924,6.3593,6.0015,7.7562,...,5.9012,8.2596,1.2480,1131.7457,131.9896,6.6758,0.9681,29.9426,31.3970,4.2893

# South Korean Won

In [12]:
USDollartoSouthKoreanWon = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Rates/Currency Rate Exchange Data/RprtRateXchg_20210930_20210930.csv")

In [13]:
USDollartoSouthKoreanWon1 = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Rates/Currency Rate Exchange Data/Foreign Currency Exchanges.csv")

In [14]:
USDollartoChineseKwan[USDollartoChineseKwan["Country"] == "Korea"]

,Record Date,Country,Currency,Country - Currency Description,Exchange Rate,Effective Date,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
93,2021-09-30,Korea,Won,Korea-Won,1184.9,2021-09-30,94,2021,4,2021,3,9,30

In [15]:
USDollartoSouthKoreanWon1.head()

,Series Description,"AUSTRALIA -- SPOT EXCHANGE RATE, US$/AUSTRALIAN $ RECIPROCAL OF RXI_N.M.AL",SPOT EXCHANGE RATE - EURO AREA,"NEW ZEALAND -- SPOT EXCHANGE RATE, US$/NZ$ (RECIPROCAL OF RXI_N.M.NZ)","United Kingdom -- Spot Exchange Rate, US$/Pound Sterling Reciprocal of rxi_n.m.uk","BRAZIL -- SPOT EXCHANGE RATE, REAIS/US$","CANADA -- SPOT EXCHANGE RATE, CANADIAN $/US$","CHINA -- SPOT EXCHANGE RATE, YUAN/US$","DENMARK -- SPOT EXCHANGE RATE, KRONER/US$","HONG KONG -- SPOT EXCHANGE RATE, HK$/US$",...,"NORWAY -- SPOT EXCHANGE RATE, KRONER/US$","SOUTH AFRICA -- SPOT EXCHANGE RATE, RAND/US$","Singapore - SPOT EXCHANGE RATE, SINGAPORE $/US$","KOREA -- SPOT EXCHANGE RATE, WON/US$","SRI LANKA -- SPOT EXCHANGE RATE, RUPEES/US$","SWEDEN -- SPOT EXCHANGE RATE, KRONOR/US$","SWITZERLAND -- SPOT EXCHANGE RATE, FRANCS/US$","TAIWAN -- SPOT EXCHANGE RATE, NT$/US$",THAILAND -- SPOT EXCHANGE RATE -- THAILAND,"VENEZUELA -- SPOT EXCHANGE RATE, BOLIVARES/US$"
0,Unit:,Currency:_Per_AUD,Currency:_Per_EUR,Currency:_Per_NZD,Currency:_Per_GBP,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,...,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD
1,Multiplier:,1,1,1,0.00999999978,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Currency:,USD,USD,USD,USD,BRL,CAD,CNY,DKK,HKD,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
3,Unique Identifier:,H10/H10/RXI$US_N.M.AL,H10/H10/RXI$US_N.M.EU,H10/H10/RXI$US_N.M.NZ,H10/H10/RXI$US_N.M.UK,H10/H10/RXI_N.M.BZ,H10/H10/RXI_N.M.CA,H10/H10/RXI_N.M.CH,H10/H10/RXI_N.M.DN,H10/H10/RXI_N.M.HK,...,H10/H10/RXI_N.M.NO,H10/H10/RXI_N.M.SF,H10/H10/RXI_N.M.SI,H10/H10/RXI_N.M.KO,H10/H10/RXI_N.M.SL,H10/H10/RXI_N.M.SD,H10/H10/RXI_N.M.SZ,H10/H10/RXI_N.M.TA,H10/H10/RXI_N.M.TH,H10/H10/RXI_N.M.VE
4,Time Period,RXI$US_N.M.AL,RXI$US_N.M.EU,RXI$US_N.M.NZ,RXI$US_N.M.UK,RXI_N.M.BZ,RXI_N.M.CA,RXI_N.M.CH,RXI_N.M.DN,RXI_N.M.HK,...,RXI_N.M.NO,RXI_N.M.SF,RXI_N.M.SI,RXI_N.M.KO,RXI_N.M.SL,RXI_N.M.SD,RXI_N.M.SZ,RXI_N.M.TA,RXI_N.M.TH,RXI_N.M.VE

# North Korean Won

In [16]:
USDollartoNorthKoreanWon = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Rates/Currency Rate Exchange Data/RprtRateXchg_20210930_20210930.csv")

In [17]:
USDollartoNorthKoreanWon1 = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Rates/Currency Rate Exchange Data/Foreign Currency Exchanges.csv")

In [18]:
USDollartoNorthKoreanWon.head()

,Record Date,Country,Currency,Country - Currency Description,Exchange Rate,Effective Date,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
0,2021-09-30,Afghanistan,Afghani,Afghanistan-Afghani,87.88,2021-09-30,1,2021,4,2021,3,9,30
1,2021-09-30,Albania,Lek,Albania-Lek,104.80,2021-09-30,2,2021,4,2021,3,9,30
2,2021-09-30,Algeria,Dinar,Algeria-Dinar,136.61,2021-09-30,3,2021,4,2021,3,9,30
3,2021-09-30,Angola,Kwanza,Angola-Kwanza,598.65,2021-09-30,4,2021,4,2021,3,9,30
4,2021-09-30,Antigua & Barbuda,E. Caribbean Dollar,Antigua & Barbuda-E. Caribbean Dollar,2.70,2021-09-30,5,2021,4,2021,3,9,30

In [19]:
USDollartoNorthKoreanWon1.head()

,Series Description,"AUSTRALIA -- SPOT EXCHANGE RATE, US$/AUSTRALIAN $ RECIPROCAL OF RXI_N.M.AL",SPOT EXCHANGE RATE - EURO AREA,"NEW ZEALAND -- SPOT EXCHANGE RATE, US$/NZ$ (RECIPROCAL OF RXI_N.M.NZ)","United Kingdom -- Spot Exchange Rate, US$/Pound Sterling Reciprocal of rxi_n.m.uk","BRAZIL -- SPOT EXCHANGE RATE, REAIS/US$","CANADA -- SPOT EXCHANGE RATE, CANADIAN $/US$","CHINA -- SPOT EXCHANGE RATE, YUAN/US$","DENMARK -- SPOT EXCHANGE RATE, KRONER/US$","HONG KONG -- SPOT EXCHANGE RATE, HK$/US$",...,"NORWAY -- SPOT EXCHANGE RATE, KRONER/US$","SOUTH AFRICA -- SPOT EXCHANGE RATE, RAND/US$","Singapore - SPOT EXCHANGE RATE, SINGAPORE $/US$","KOREA -- SPOT EXCHANGE RATE, WON/US$","SRI LANKA -- SPOT EXCHANGE RATE, RUPEES/US$","SWEDEN -- SPOT EXCHANGE RATE, KRONOR/US$","SWITZERLAND -- SPOT EXCHANGE RATE, FRANCS/US$","TAIWAN -- SPOT EXCHANGE RATE, NT$/US$",THAILAND -- SPOT EXCHANGE RATE -- THAILAND,"VENEZUELA -- SPOT EXCHANGE RATE, BOLIVARES/US$"
0,Unit:,Currency:_Per_AUD,Currency:_Per_EUR,Currency:_Per_NZD,Currency:_Per_GBP,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,...,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD
1,Multiplier:,1,1,1,0.00999999978,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Currency:,USD,USD,USD,USD,BRL,CAD,CNY,DKK,HKD,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
3,Unique Identifier:,H10/H10/RXI$US_N.M.AL,H10/H10/RXI$US_N.M.EU,H10/H10/RXI$US_N.M.NZ,H10/H10/RXI$US_N.M.UK,H10/H10/RXI_N.M.BZ,H10/H10/RXI_N.M.CA,H10/H10/RXI_N.M.CH,H10/H10/RXI_N.M.DN,H10/H10/RXI_N.M.HK,...,H10/H10/RXI_N.M.NO,H10/H10/RXI_N.M.SF,H10/H10/RXI_N.M.SI,H10/H10/RXI_N.M.KO,H10/H10/RXI_N.M.SL,H10/H10/RXI_N.M.SD,H10/H10/RXI_N.M.SZ,H10/H10/RXI_N.M.TA,H10/H10/RXI_N.M.TH,H10/H10/RXI_N.M.VE
4,Time Period,RXI$US_N.M.AL,RXI$US_N.M.EU,RXI$US_N.M.NZ,RXI$US_N.M.UK,RXI_N.M.BZ,RXI_N.M.CA,RXI_N.M.CH,RXI_N.M.DN,RXI_N.M.HK,...,RXI_N.M.NO,RXI_N.M.SF,RXI_N.M.SI,RXI_N.M.KO,RXI_N.M.SL,RXI_N.M.SD,RXI_N.M.SZ,RXI_N.M.TA,RXI_N.M.TH,RXI_N.M.VE

# Euro

In [20]:
USDollartoEuropeanEuro = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Rates/Currency Rate Exchange Data/RprtRateXchg_20210930_20210930.csv")

In [21]:
USDollartoEuropeanEuro1 = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Rates/Currency Rate Exchange Data/Foreign Currency Exchanges.csv")

In [22]:
USDollartoEuropeanEuro[USDollartoEuropeanEuro["Currency"]==  "Euro"]

,Record Date,Country,Currency,Country - Currency Description,Exchange Rate,Effective Date,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
8,2021-09-30,Austria,Euro,Austria-Euro,0.864,2021-09-30,9,2021,4,2021,3,9,30
15,2021-09-30,Belgium,Euro,Belgium-Euro,0.864,2021-09-30,16,2021,4,2021,3,9,30
44,2021-09-30,Cross Border,Euro,Cross Border-Euro,0.864,2021-09-30,45,2021,4,2021,3,9,30
47,2021-09-30,Cyprus,Euro,Cyprus-Euro,0.864,2021-09-30,48,2021,4,2021,3,9,30
59,2021-09-30,Estonia,Euro,Estonia-Euro,0.864,2021-09-30,60,2021,4,2021,3,9,30
61,2021-09-30,Euro Zone,Euro,Euro Zone-Euro,0.864,2021-09-30,62,2021,4,2021,3,9,30
63,2021-09-30,Finland,Euro,Finland-Euro,0.864,2021-09-30,64,2021,4,2021,3,9,30
64,2021-09-30,France,Euro,France-Euro,0.864,2021-09-30,65,2021,4,2021,3,9,30
68,2021-09-30,Germany,Euro,Germany-Euro,0.864,2021-09-30,69,2021,4,2021,3,9,30
70,2021-09-30,Greece,Euro,Greece-Euro,0.864,2021-09-30,71,2021,4,2021,3,9,30
85,2021-09-30,Ireland,Euro,Ireland-Euro,0.864,2021-09-30,86,2021,4,2021,3,9,30
87,2021-09-30,Italy,Euro,Italy-Euro,0.864,2021-09-30,88,2021,4,2021,3,9,30
94,2021-09-30,Kosovo,Euro,Kosovo-Euro,0.864,2021-09-30,95,2021,4,2021,3,9,30
98,2021-09-30,Latvia,Euro,Latvia-Euro,0.864,2021-09-30,99,2021,4,2021,3,9,30
104,2021-09-30,Lithuania,Euro,Lithuania-Euro,0.864,2021-09-30,105,2021,4,2021,3,9,30
105,2021-09-30,Luxembourg,Euro,Luxembourg-Euro,0.864,2021-09-30,106,2021,4,2021,3,9,30
111,2021-09-30,Malta,Euro,Malta-Euro,0.864,2021-09-30,112,2021,4,2021,3,9,30
119,2021-09-30,Montenegro,Euro,Montenegro-Euro,0.864,2021-09-30,120,2021,4,2021,3,9,30
124,2021-09-30,Netherland,Euro,Netherland-Euro,0.864,2021-09-30,125,2021,4,2021,3,9,30
140,2021-09-30,Portugal,Euro,Portugal-Euro,0.864,2021-09-30,141,2021,4,2021,3,9,30
154,2021-09-30,Slovakia,Euro,Slovakia-Euro,0.864,2021-09-30,155,2021,4,2021,3,9,30
155,2021-09-30,Slovenia,Euro,Slovenia-Euro,0.864,2021-09-30,156,2021,4,2021,3,9,30
160,2021-09-30,Spain,Euro,Spain-Euro,0.864,2021-09-30,161,2021,4,2021,3,9,30

In [23]:
USDollartoEuropeanEuro1.head()

,Series Description,"AUSTRALIA -- SPOT EXCHANGE RATE, US$/AUSTRALIAN $ RECIPROCAL OF RXI_N.M.AL",SPOT EXCHANGE RATE - EURO AREA,"NEW ZEALAND -- SPOT EXCHANGE RATE, US$/NZ$ (RECIPROCAL OF RXI_N.M.NZ)","United Kingdom -- Spot Exchange Rate, US$/Pound Sterling Reciprocal of rxi_n.m.uk","BRAZIL -- SPOT EXCHANGE RATE, REAIS/US$","CANADA -- SPOT EXCHANGE RATE, CANADIAN $/US$","CHINA -- SPOT EXCHANGE RATE, YUAN/US$","DENMARK -- SPOT EXCHANGE RATE, KRONER/US$","HONG KONG -- SPOT EXCHANGE RATE, HK$/US$",...,"NORWAY -- SPOT EXCHANGE RATE, KRONER/US$","SOUTH AFRICA -- SPOT EXCHANGE RATE, RAND/US$","Singapore - SPOT EXCHANGE RATE, SINGAPORE $/US$","KOREA -- SPOT EXCHANGE RATE, WON/US$","SRI LANKA -- SPOT EXCHANGE RATE, RUPEES/US$","SWEDEN -- SPOT EXCHANGE RATE, KRONOR/US$","SWITZERLAND -- SPOT EXCHANGE RATE, FRANCS/US$","TAIWAN -- SPOT EXCHANGE RATE, NT$/US$",THAILAND -- SPOT EXCHANGE RATE -- THAILAND,"VENEZUELA -- SPOT EXCHANGE RATE, BOLIVARES/US$"
0,Unit:,Currency:_Per_AUD,Currency:_Per_EUR,Currency:_Per_NZD,Currency:_Per_GBP,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,...,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD,Currency:_Per_USD
1,Multiplier:,1,1,1,0.00999999978,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Currency:,USD,USD,USD,USD,BRL,CAD,CNY,DKK,HKD,...,NOK,ZAR,SGD,KRW,LKR,SEK,CHF,TWD,THB,VEB
3,Unique Identifier:,H10/H10/RXI$US_N.M.AL,H10/H10/RXI$US_N.M.EU,H10/H10/RXI$US_N.M.NZ,H10/H10/RXI$US_N.M.UK,H10/H10/RXI_N.M.BZ,H10/H10/RXI_N.M.CA,H10/H10/RXI_N.M.CH,H10/H10/RXI_N.M.DN,H10/H10/RXI_N.M.HK,...,H10/H10/RXI_N.M.NO,H10/H10/RXI_N.M.SF,H10/H10/RXI_N.M.SI,H10/H10/RXI_N.M.KO,H10/H10/RXI_N.M.SL,H10/H10/RXI_N.M.SD,H10/H10/RXI_N.M.SZ,H10/H10/RXI_N.M.TA,H10/H10/RXI_N.M.TH,H10/H10/RXI_N.M.VE
4,Time Period,RXI$US_N.M.AL,RXI$US_N.M.EU,RXI$US_N.M.NZ,RXI$US_N.M.UK,RXI_N.M.BZ,RXI_N.M.CA,RXI_N.M.CH,RXI_N.M.DN,RXI_N.M.HK,...,RXI_N.M.NO,RXI_N.M.SF,RXI_N.M.SI,RXI_N.M.KO,RXI_N.M.SL,RXI_N.M.SD,RXI_N.M.SZ,RXI_N.M.TA,RXI_N.M.TH,RXI_N.M.VE

# Canadian Dollar

In [24]:
 USDollartoCanadianDollar = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Foreign Currency Data 4/USDCAD-H1.csv")

In [25]:
USDollartoCanadianDollar1 = pd.read_csv("C:/Users/Administrator/OneDrive/Documents/DataScienceWork/DataScienceResearchData/Forex History Data 2/USDCAD-2000-2020-15m.csv")

In [26]:
USDollartoCanadianDollar.head()

,Date,Time,OpenBid,HighBid,LowBid,CloseBid,OpenAsk,HighAsk,LowAsk,CloseAsk,Total Ticks
0,01/03/2010,22:00:00,1.04626,1.05174,1.04585,1.04663,1.04666,1.05285,1.04651,1.04734,253
1,01/03/2010,23:00:00,1.04663,1.04839,1.04653,1.04695,1.04734,1.04890,1.04726,1.04756,537
2,01/04/2010,00:00:00,1.04695,1.04988,1.04689,1.04953,1.04756,1.05036,1.04740,1.05016,785
3,01/04/2010,01:00:00,1.04953,1.05154,1.04909,1.04954,1.05016,1.05205,1.04960,1.04995,659
4,01/04/2010,02:00:00,1.04954,1.04954,1.04499,1.04514,1.04995,1.04995,1.04550,1.04565,588

In [ ]:
USDollartoCanadianDollar1.head()